

<h1 class="display-4 text-center" id="logo">B2 - Realtime Web Application </h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  
  <ul class="navbar-nav mr-auto navbar-inverse list-inline text-center d-flex justify-content-center align-items-center">
<li>
  <img src="img/wire.png" alt="" class=" navbar-brand" width="120" >
</li>
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>


  </ul>
</nav>



</div>
